BasedOnStyle: "LLVM"

UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  IndentBraces: false

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
